<a href="https://colab.research.google.com/github/4060E027/AI-2020/blob/master/%E6%81%A9%E5%B8%AB%E6%8E%88%E8%AA%B2%E7%AC%AC%E4%B8%80%E5%A4%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
print("pandas version: %s" % pd.__version__)

import matplotlib
print("matplotlib version: %s" % matplotlib.__version__)

import numpy as np
print("numpy version: %s" % np.__version__)

import sklearn
print("scikit-learn version: %s" % sklearn.__version__)

import tensorflow as tf
print("tensorflow version: %s" % tf.__version__)

import torch
print("PyTorch version: %s" %torch.__version__)
print("2020年3月PyTorch version最新版本 是1.4 請參閱https://pytorch.org/")

pandas version: 1.0.5
matplotlib version: 3.2.2
numpy version: 1.18.5
scikit-learn version: 0.22.2.post1
tensorflow version: 2.3.0
PyTorch version: 1.6.0+cu101
2020年3月PyTorch version最新版本 是1.4 請參閱https://pytorch.org/

In [ ]:
x = input('Enter your name:')
print('Hello, ' + x)

a = input("請輸入：")
a

Enter your name:Barry
Hello, Barry
請輸入：HI

'HI'

In [ ]:
a = input("請輸入：")
a

b=a+1
b

請輸入：66

TypeError: ignored

intput輸入的是字串，變數b是整數，兩個不一樣的資料型態無法相加

TypeError: must be str, not int

In [ ]:
a = eval(input("請輸入："))
a

b=a+1
b

請輸入：55

56

該eval()函數計算指定的表達式，如果該表達式是合法的Python語句，它將被執行。

In [2]:
a = int(input("請輸入："))
a

b=a+1
b

請輸入：55

56

除了eval用int也可以

In [ ]:
a,b = eval(input("請輸入兩個數位："))
a,b

請輸入兩個數位：55 55

SyntaxError: ignored

輸入55 55的時候顯示錯誤

In [ ]:
a,b = eval(input("請輸入兩個數位："))
a,b

請輸入兩個數位：55,55

(55, 55)

輸入55,55的時候就可正常運行

In [4]:
a b = eval(input("請輸入兩個數位："))
a b

請輸入兩個數位：55 55

SyntaxError: ignored

如果想要用空白鍵做分辨只把ab之間的,換成空格是不行的，所以得知如果想用其他符號作為分割記號不能直接修改ab之間的符號

In [ ]:
a, b = input("Enter a two value: ").split() 
print("First number is {} and second number is {}".format(a, b)) 
print()

Enter a two value: 55 55
First number is 55 and second number is 55

想要用其他符號分割可以用split

該split()方法將字符串拆分為列表。

您可以指定分隔符，默認分隔符是任何空格。

In [5]:
txt = "hello, my name is Peter, I am 26 years old"
x = txt.split(", ")
x

['hello', 'my name is Peter', 'I am 26 years old']

使用逗號分割字符串，後跟一個空格作為分隔符

In [7]:
txt = "apple#banana#cherry#orange"
x = txt.split("#")
x

['apple', 'banana', 'cherry', 'orange']

使用井號字符作為分隔符

In [8]:
txt = "apple#banana#cherry#orange"
x = txt.split("#", 1)
x

['apple', 'banana#cherry#orange']

將字符串拆分為最多2個項目的列表

In [ ]:
x, y, z = [int(x) for x in input("Enter three value: ").split()] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print("Third Number is: ", z) 
print()

x, y, z = [int(x) for x in input("Enter three value: ").split(",")] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print("Third Number is: ", z) 
print()

a, b = input("Enter a two value: ").split() 
print("First number is {} and second number is {}".format(a, b)) 
print()

Enter three value: 3 2 1
First Number is:  3
Second Number is:  2
Third Number is:  1

Enter three value: 26,15,48
First Number is:  26
Second Number is:  15
Third Number is:  48

Enter a two value: 159 2684
First number is 159 and second number is 2684

In [ ]:
str1 = '這是字串'
print(str1)

str2 = "這也是字串"
print(str2)

str3 = 'allows embedded "double" quotes'
print(str3)

這是字串
這也是字串
allows embedded "double" quotes

In [9]:
str1 = '這是字串'
str1

str2 = "這也是字串"
print(str2)

str3 = 'allows embedded "double" quotes'
print(str3)

這也是字串
allows embedded "double" quotes

字串如果不加print就無法顯示

In [ ]:
#!/usr/bin/python
 
var1 = 'Hello Python!'
 
print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8])

var1[0]:  H
var1[1:8]:  ello Py

設定一個字串var1裡面放Hello Python!

印出var1裡第0個字元，陣列由0開始計算

印出var1第1到第8個字元

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str1 = 'Hello World!'

print("更新前的字串-> ", str1[:])
print("更新前的字串(也可以這樣寫)-> ", str1)
print("更新後的字串-> ", str1[:6] + 'Python!')

更新前的字串->  Hello World!
更新前的字串(也可以這樣寫)->  Hello World!
更新後的字串->  Hello Python!

印出0到6的字元後加上Python印出

In [ ]:
str1='happy python day'
str2='    Oh!   '
str4=str1 + str2
print(str4.capitalize())

Happy python day    oh!

capitalize()方法返回第一個字符為大寫的字符串。

In [11]:
txt = "36 is my age."
txt = txt.capitalize()
txt

'36 is my age.'

如果第一個字元是數字則會沒有變化

In [13]:
a='  Hello   '
b='  Python ! '

a+b

'  Hello     Python ! '

字串加法

In [14]:
a='  Hello   '
b='  Python ! '

a*2

'  Hello     Hello   '

字串乘法

In [15]:
a='  Hello   '
b='  Python ! '

a[1:4]

' He'

印出字串1到4

In [16]:
a='  Hello   '
b='  Python ! '

"H" in a

True

In [17]:
a='  Hello   '
b='  Python ! '

"H" not in a

False

In [18]:
def reverse(s): 
    if len(s) == 0: 
        return s 
    else: 
        return reverse(s[1:]) + s[0] 
  
#s = "HappyHackingDay"
s = "BreakAllCTF{HappyHackingDay}"

print ("The original string  is : ",end="") 
print (s) 
  
print ("The reversed string(using recursion) is : ",end="") 
print (reverse(s))

The original string  is : BreakAllCTF{HappyHackingDay}
The reversed string(using recursion) is : }yaDgnikcaHyppaH{FTCllAkaerB

In [20]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python2019"
print(str.isalpha())

str = "Python"
print(str.isalpha())

False
True

isalpha() :檢測字串是否只由字母組成

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python2019"
print(str.isalnum())

str = "Python"
print(str.isalnum())

str = "2019"
print(str.isalnum())

str = "Python 2019"
print(str.isalnum())

True
True
True
False

isalnum():檢測字串是否由字母和數位組成

In [19]:
a = 33
b = 200

if b > a:
  print("b is greater than a")

b is greater than a

IF

In [21]:
a = 32
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

IF...elif

都不成立則不執行

In [22]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [23]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

一定有一個執行

In [24]:
year= eval(input("請輸入年"))

if ((year%400==0) or (year%4==0 and year%100!=0)):
  print("{0} 是閏年".format(year))
else:
  print("{0} 不是閏年".format(year))

請輸入年2020
2020 是閏年

if裡加入判斷式

判斷條件 AND OR

In [25]:
money = int(input("請輸入購物金額："))

if(money >= 10000):
    if(money >= 100000):
        print(money * 0.8, end=" 元\n")  #八折
    elif(money >= 50000):
        print(money * 0.85, end=" 元\n")  #八五折
    elif(money >= 30000):
        print(money * 0.9, end=" 元\n")  #九折
    else:
        print(money * 0.95, end=" 元\n")  #九五折
else:
    print(money, end=" 元\n")  #未打折

請輸入購物金額：123456
98764.8 元

if⋯elif⋯else

In [ ]:
list1=range(10)
print(list1)

print(list(list1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

range(整數值)

In [26]:
list2=range(-4,5)
print(list(list2))

[-4, -3, -2, -1, 0, 1, 2, 3, 4]

range(起始值, 終止值)

In [27]:
list3=range(-4,5,2)
print(list(list3))

[-4, -2, 0, 2, 4]

In [28]:
list4=range(-4,6,2)
print(list(list4))

[-4, -2, 0, 2, 4]

range(起始值, 終止值, 多少間隔)

In [29]:
for n in range(5):
  print(n)

0
1
2
3
4

執行固定次數的廻圈運算

In [32]:
for n in range(10):
    print(n, end='@')

0@1@2@3@4@5@6@7@8@9@

In [33]:
for n in range(10):
    print(n, end='%%%%')

0%%%%1%%%%2%%%%3%%%%4%%%%5%%%%6%%%%7%%%%8%%%%9%%%%

In [34]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

0
1
3
6
10

In [35]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

10

縮排的不一樣影響結果輸出的方式

In [36]:
x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x):
  mysum += n

print(mysum)

請輸入一個正整數:20
190

In [37]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): 
    my_numbers.append(number)

print(my_numbers)

[21, 35, 1, 7, 3, 9]

列出基數

In [40]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 == 0): 
    my_numbers.append(number)

print(my_numbers)

[4, 8, 6]

列出偶數

In [41]:
total = i = 1

n = int(input("請輸入正整數 n 的值："))

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

請輸入正整數 n 的值：5
5!=120

重1乘到5

In [ ]:
fruits = ["香蕉","蘋果","橘子","鳳梨","西瓜"]

while True:
    fruit = input("請輸入喜歡的水果(Enter 結束)：")

  #  if (fruit==""):
  #      break

    n = fruits.count(fruit) 
    if (n>0):  # 串列元素存在
        p=fruits.index(fruit)
        print("%s 在串列中的第 %d 項" %(fruit,p+1))
    else:
        print(fruit,"不在串列中!")

break 指令可在廻圈執行中途強迫跳離廻圈，跳到廻圈後面的程式繼續執行。

In [44]:
n = int(input("請輸入正整數："))

for i in range(1, n+1):
    if i % 5 ==0:
        continue
    print(i,end=" ")

請輸入正整數：56
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56

拿掉可以與五整除的數

In [45]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

1 2 3
1 2 4
1 2 5
1 2 6
1 3 2
1 3 4
1 3 5
1 3 6
1 4 2
1 4 3
1 4 5
1 4 6
2 1 3
2 1 4
2 1 5
2 1 6
2 3 1
2 3 4
2 3 5
2 3 6
2 4 1
2 4 3
2 4 5
2 4 6
3 1 2
3 1 4
3 1 5
3 1 6
3 2 1
3 2 4
3 2 5
3 2 6
3 4 1
3 4 2
3 4 5
3 4 6
4 1 2
4 1 3
4 1 5
4 1 6
4 2 1
4 2 3
4 2 5
4 2 6
4 3 1
4 3 2
4 3 5
4 3 6
5 1 2
5 1 3
5 1 4
5 1 6
5 2 1
5 2 3
5 2 4
5 2 6
5 3 1
5 3 2
5 3 4
5 3 6
5 4 1
5 4 2
5 4 3
5 4 6

列出
i:1到6
j:1到5
k:1到7
且ijk不互相重複的組合

In [46]:
for x in range(19):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [47]:
for x in range(0,19,2):
  print(x)

0
2
4
6
8
10
12
14
16
18

In [48]:
for x in range(20,11,-1):
  print(x)

20
19
18
17
16
15
14
13
12

In [51]:
for x in range(0,19,-1):
  print(x)

In [52]:
output = ''

for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

TypeError: ignored

In [53]:
output = ''

for x in range(0,19,3):
  print(x, end=" ")

0 3 6 9 12 15 18

In [54]:
list1 = range(0,19,3)

for x in list1:
  print(x, end=" ")

0 3 6 9 12 15 18

In [55]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
i = int(input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print((i-arr[idx])*rat[idx])
        i=arr[idx]

print(r)

淨利潤:11111
1111.1000000000001
1111.1000000000001

In [62]:
for i in range(1,10):
  for j in range(1,10):
    print(i, '*', j, '=', i*j,)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [63]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11)) 
    print("Sum from 20 to 37 is", sum(20, 38))
    print("Sum from 35 to 49 is", sum(35, 50))

main() # Call the main function

Sum from 1 to 10 is 55
Sum from 20 to 37 is 513
Sum from 35 to 49 is 630

函數代碼塊以 def 關鍵字開頭，後接函數識別字名稱和圓括號()。
任何傳入參數和引數必須放在圓括號中間。圓括號之間可以用於定義參數。
函數的第一行語句可以選擇性地使用文檔字串—用於存放函數說明。
函數內容以冒號起始，並且縮排。
return [運算式] 結束函數，選擇性地返回一個值給調用方。不帶運算式的return相當於返回 None。
函式包含標頭和主體。
標頭(header)起源於def關鍵字，後接函式名稱和參數，最後以冒號結尾。

In [64]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def swap(a,b):
    a,b = b,a
    return (a,b)
 
if __name__ == '__main__':
    x = 10
    y = 20
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 10,y = 20
x = 20,y = 10

In [65]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def sort(number1, number2):
    if number1 < number2:
        return number1, number2
    else:
        return number2, number1

num1, num2 = sort(31, 25)

print("num1 is", num1)
print("num2 is", num2)

num1 is 25
num2 is 31

python的回傳值可以在2個以上