<a href="https://colab.research.google.com/github/4060E027/AI-2020/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20201021', periods=6)
dates

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-10-21 -0.002577 -0.564612 -0.457502 -1.663807
2020-10-22  0.527314  0.633114  0.859066  1.680599
2020-10-23 -0.306550 -0.967848 -0.125643 -0.273100
2020-10-24  1.374324  2.382720 -0.987374 -0.253845
2020-10-25  1.041641 -1.112078 -0.274214  0.890070
2020-10-26  0.092671  0.252193  2.623854 -1.886654

In [14]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20201021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["Are", "You", "O", "K"]),
           'F': 'Yes'})
df2

     A          B    C  D    E    F
0  1.0 2020-10-21  1.0  3  Are  Yes
1  1.0 2020-10-21  1.0  3  You  Yes
2  1.0 2020-10-21  1.0  3    O  Yes
3  1.0 2020-10-21  1.0  3    K  Yes

In [15]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [20]:
df.head(2)

                   A         B         C         D
2020-10-21 -0.002577 -0.564612 -0.457502 -1.663807
2020-10-22  0.527314  0.633114  0.859066  1.680599

In [21]:
df.tail(2)

                   A         B         C         D
2020-10-25  1.041641 -1.112078 -0.274214  0.890070
2020-10-26  0.092671  0.252193  2.623854 -1.886654

In [18]:
df.index

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

In [19]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
df.to_numpy()

array([[-2.57685167e-03, -5.64612344e-01, -4.57501540e-01,
        -1.66380723e+00],
       [ 5.27314210e-01,  6.33114000e-01,  8.59066031e-01,
         1.68059929e+00],
       [-3.06549704e-01, -9.67848147e-01, -1.25642901e-01,
        -2.73100019e-01],
       [ 1.37432392e+00,  2.38271972e+00, -9.87374009e-01,
        -2.53845228e-01],
       [ 1.04164064e+00, -1.11207763e+00, -2.74214131e-01,
         8.90070199e-01],
       [ 9.26706935e-02,  2.52193417e-01,  2.62385360e+00,
        -1.88665379e+00]])

In [23]:
df2.to_numpy()

array([[1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'Are', 'Yes'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'You', 'Yes'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'O', 'Yes'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'K', 'Yes']],
      dtype=object)

In [24]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.454470  0.103915  0.273031 -0.251123
std    0.650407  1.309140  1.300040  1.393198
min   -0.306550 -1.112078 -0.987374 -1.886654
25%    0.021235 -0.867039 -0.411680 -1.316130
50%    0.309992 -0.156209 -0.199929 -0.263473
75%    0.913059  0.537884  0.612889  0.604091
max    1.374324  2.382720  2.623854  1.680599

In [25]:
df.T

   2020-10-21  2020-10-22  2020-10-23  2020-10-24  2020-10-25  2020-10-26
A   -0.002577    0.527314   -0.306550    1.374324    1.041641    0.092671
B   -0.564612    0.633114   -0.967848    2.382720   -1.112078    0.252193
C   -0.457502    0.859066   -0.125643   -0.987374   -0.274214    2.623854
D   -1.663807    1.680599   -0.273100   -0.253845    0.890070   -1.886654

In [26]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-10-21 -1.663807 -0.457502 -0.564612 -0.002577
2020-10-22  1.680599  0.859066  0.633114  0.527314
2020-10-23 -0.273100 -0.125643 -0.967848 -0.306550
2020-10-24 -0.253845 -0.987374  2.382720  1.374324
2020-10-25  0.890070 -0.274214 -1.112078  1.041641
2020-10-26 -1.886654  2.623854  0.252193  0.092671

In [27]:
df.sort_values(by='C')

                   A         B         C         D
2020-10-24  1.374324  2.382720 -0.987374 -0.253845
2020-10-21 -0.002577 -0.564612 -0.457502 -1.663807
2020-10-25  1.041641 -1.112078 -0.274214  0.890070
2020-10-23 -0.306550 -0.967848 -0.125643 -0.273100
2020-10-22  0.527314  0.633114  0.859066  1.680599
2020-10-26  0.092671  0.252193  2.623854 -1.886654

In [28]:
df['A']

2020-10-21   -0.002577
2020-10-22    0.527314
2020-10-23   -0.306550
2020-10-24    1.374324
2020-10-25    1.041641
2020-10-26    0.092671
Freq: D, Name: A, dtype: float64

In [29]:
df[0:3]

                   A         B         C         D
2020-10-21 -0.002577 -0.564612 -0.457502 -1.663807
2020-10-22  0.527314  0.633114  0.859066  1.680599
2020-10-23 -0.306550 -0.967848 -0.125643 -0.273100

In [32]:
df['20201022':'20201024']

                   A         B         C         D
2020-10-22  0.527314  0.633114  0.859066  1.680599
2020-10-23 -0.306550 -0.967848 -0.125643 -0.273100
2020-10-24  1.374324  2.382720 -0.987374 -0.253845

In [33]:
df.loc[dates[0]]

A   -0.002577
B   -0.564612
C   -0.457502
D   -1.663807
Name: 2020-10-21 00:00:00, dtype: float64

In [34]:
df.loc[:, ['A', 'B']]

                   A         B
2020-10-21 -0.002577 -0.564612
2020-10-22  0.527314  0.633114
2020-10-23 -0.306550 -0.967848
2020-10-24  1.374324  2.382720
2020-10-25  1.041641 -1.112078
2020-10-26  0.092671  0.252193