<a href="https://colab.research.google.com/github/4060E027/AI-2020/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20201021', periods=6)
dates

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-10-21 -0.002577 -0.564612 -0.457502 -1.663807
2020-10-22  0.527314  0.633114  0.859066  1.680599
2020-10-23 -0.306550 -0.967848 -0.125643 -0.273100
2020-10-24  1.374324  2.382720 -0.987374 -0.253845
2020-10-25  1.041641 -1.112078 -0.274214  0.890070
2020-10-26  0.092671  0.252193  2.623854 -1.886654

In [11]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20201021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-10-21  1.0  3   test  foo
1  1.0 2020-10-21  1.0  3  train  foo
2  1.0 2020-10-21  1.0  3   test  foo
3  1.0 2020-10-21  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object